[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
pymysql = "*"
redis = "*"
flask = "*"
flask-cors = "*"
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"

[requires]
python_version = "3.9"
